<IfModule mod_rewrite.c>
 RewriteEngine on
 RewriteBase /fryske-koekn/fryske-oranjekoeke/app-skeleton/public/
 RewriteRule ^$ /fryske-koekn/fryske-oranjekoeke/app-skeleton/public/index.php [L]
</IfModule>